---
import ArticleList from '../../../components/ArticleList.astro'
import BackLink from '../../../components/BackLink.astro'
import Layout from '../../../layouts/Layout.astro'
import SectionTitle from '../../../components/SectionTitle.astro'
import { getArticles, getArticleTags } from '../../../utils/articles'
import type { ArticleTag } from '../../../utils/articles'

export async function getStaticPaths() {
  const articles = await getArticles()
  const articleTags = getArticleTags(articles)

  return articleTags.map((tag) => ({
    params: { tag: tag.slug },
    props: { tag },
  }))
}

const { tag } = Astro.props as { tag: ArticleTag }
---

<Layout
  title={tag.label}
  description={`${tag.label} articles from the blog.`}
>
  <section class="section prose">
    <BackLink href="/blog/tags/">Back to tags</BackLink>

    <SectionTitle
      title={tag.label}
      description={`${tag.articles.length} ${tag.articles.length === 1 ? 'article' : 'articles'} tagged ${tag.label}.`}
    />
  </section>

  <section class="section">
    <ArticleList articles={tag.articles} />
  </section>
</Layout>
